---
import "../styles/global.css";
import { Image } from "astro:assets";
import mail from "../assets/mail.svg";
import x from "../assets/x.svg";
import github from "../assets/github.svg";
import linkedin from "../assets/linkedin.svg";
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Justin O'Connell | Fullstack Developer</title>
    </head>
    <body class="">
        <!-- Wrapper -->
        <div class="min-h-svh mx-auto max-w-3xl pt-5">
            <header class="space-y-2.5">
                <!-- Title -->
                <h1 class="text-lg">Hi, I'm Justin</h1>
                <p class="text-sm">
                    Welcome to my corner of the web, I am a fullstack developer
                    from the United Kingdom. I love to solve problems and learn
                    new things, I don't care what tech is used to solve them.
                </p>
                <!-- Icons -->
                <div class="flex flex-row items-center mt-4 space-x-2.5">
                    <div>
                        <Image src={mail} alt="email address" class="size-5" />
                    </div>
                    <div>
                        <Image src={x} alt="x profile" class="size-5" />
                    </div>
                    <div>
                        <Image
                            src={github}
                            alt="github profile"
                            class="size-5"
                        />
                    </div>
                    <div>
                        <Image
                            src={linkedin}
                            alt="linkedin profile"
                            class="size-5"
                        />
                    </div>
                </div>
                <!-- Description -->
            </header>
            <!-- Built Section -->
            <section class="mt-14">
                <!-- Heading -->
                <h2 class="font-semibold">🛠️ What I've Built Recently</h2>
                <div>
                    <!-- Card -->
                </div>
            </section>
        </div>
    </body>
</html>
