---
import "../styles/global.css";
import { Image } from "astro:assets";
import mail from "../assets/mail.svg";
import x from "../assets/x.svg";
import github from "../assets/github.svg";
import linkedin from "../assets/linkedin.svg";
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Justin O'Connell | Fullstack Developer</title>
    </head>
    <body class="bg-blue-300">
        <!-- Wrapper -->
        <div class="min-h-svh mx-auto max-w-5xl bg-amber-200 pt-5">
            <header>
                <!-- Title -->
                <h1 class="text-3xl">Justin O'Connell - Fullstack Developer</h1>
                <p class="text-md">
                    Building fast and interactive apps for the web.
                </p>
                <!-- Icons -->
                <div class="flex flex-row">
                    <div>
                        <Image src={mail} alt="email address" class="size-7" />
                    </div>
                    <div>
                        <Image src={x} alt="x profile" class="size-7" />
                    </div>
                    <div>
                        <Image
                            src={github}
                            alt="github profile"
                            class="size-7"
                        />
                    </div>
                    <div>
                        <Image
                            src={linkedin}
                            alt="linkedin profile"
                            class="size-7"
                        />
                    </div>
                </div>
                <!-- Description -->
            </header>
            <!-- Built Section -->
            <section>
                <!-- Heading -->
                <h2>🛠️ What I've Built Recently</h2>
                <div>
                    <!-- Card -->
                </div>
            </section>
        </div>
    </body>
</html>
